/* Стилизация аккордеона */

.accordion {
    border: 1px solid #ACB5BD;
    border-radius: 8px;
    background: var(--white);
    padding: 24px 48.69px 24px 32px;
    cursor: pointer;
}

.accordion[open] {
    padding-bottom: 16px;
}